#header {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}

.firstSelect {
    display: none;
}

#footer {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#checkFirst {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}

#checkSecond {
    text-align: center;
    
}

#checkThird {
    text-align: center;
    
}


#button {
    padding-top: 30px;
    padding-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
small {
    text-align: center;
}